<h1>Edit Moderator</h1>


<%= form_for [:admin, @moderator] do |f| %>
<p>
  <%= f.lable :fullname %>
  <%= f.text_field :fullname %>
</p>

<p>
  <%= f.lable :username %>
  <%= f.text_field :username %>
</p>

<p>
  <%= f.lable :password %>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
