<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ruby on Rails Blog</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =>true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' =>true %>
    <%= csrf_meta_tags %>

  </head>
<body>

<%= render 'shared/nav'%>


<%= yield %>




<br>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Copyright Yunqing Peng - All Right Reserved</p>
</footer>


  </body>
</html>
